.app_dark_theme {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e1e1ef;
    --primary-color: #1bac1b;
    --secondary-color: #0eea0e;
    --inverted-primary-color: #252534;
    --inverted-secondary-color: #4f4b65;

    // skeleton
    --skeleton-color: #1f1f8e;
    --skeleton-shadow: #474274;
    --code-bg: #313194;

    // card
    --card-bg: #151593;
}
