.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e1e1ef;

    --primary-color: rgb(27, 172, 27);
    --secondary-color: rgb(14, 234, 14);

    --inverted-primary-color: rgb(37, 37, 52);
    --inverted-secondary-color: rgb(79, 75, 101);
}