:root {
    --bg-color: #e1e1ef;
    --inverted-bg-color: #0e0e75;
    --primary-color: #6a6a9a;
    --secondary-color: #bebbd3;
    --inverted-primary-color: #1bac1b;
    --inverted-secondary-color: #0eea0e;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #474274;
    --code-bg: #fff;

    // card
    --bg-card: #c7c7d3;
}
