.app_purple_theme {
    --bg-color: #fbf4fb;
    --inverted-bg-color: #674d8f;
    --primary-color: #a65ca7;
    --secondary-color: #674d8f;
    --inverted-primary-color: #fbf4fb;
    --inverted-secondary-color: #a65ca7;
}
