.app_purple_theme {
    --bg-color: #fbf4fb;
    --inverted-bg-color: #674d8f;
    --primary-color: #a65ca7;
    --secondary-color: #674d8f;
    --inverted-primary-color: #fbf4fb;
    --inverted-secondary-color: #a65ca7;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #daafc7;
    --skeleton-shadow: #bd759e;
    --code-bg: #fff;

    // card
    --bg-card: #cec7ce;
}
